<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <h1>⚾️ <a href="/roster">Edit Player</a></h1>
        <form action="/results/" method="POST">
            <input class="search" type="text" name="position" placeholder="Search by position">
        </form>
        <div class="dropdown">
            <div class="dropBtn" onclick="myFunction(this); openDropdown()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="myDropdown" class="dropdown-content">
                <a class="dropdown-links" href="/">Home</a>
                <a class="dropdown-links" href="/roster">Roster</a>
                <a class="dropdown-links" href="/fa">Free Agents</a>
                <a class="dropdown-links" href="/bench">Bench</a>
                <a class="dropdown-links" href="/gm/new">Add Player</a>
                <% if (currentUser) { %>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input class="log-out" type="submit" value="Log Out">
                      </form>
                <% } else { %>
                    <a class="dropdown-links" href="/users/new">Sign Up</a>
                    <a class="dropdown-links" href="/sessions/new">Log In</a>
                <% } %>
            </div>
        </div>
    </header>
    <main>
        <% if (currentUser) { %>
            <p class="logged-in">Logged in as <%= currentUser.username %></p>
        <% }%>
        <div class="form-center">
            <form action="/gm/<%=players.id%>?_method=PUT" method="POST">
                <input type="text" name="name" value="<%=players.name%>">
                <input type="number" name="number" value="<%=players.number%>">
                <input type="text" name="img" value="<%=players.img%>">
                <input type="text" name="position" value="<%=players.position%>">
                <input type="text" name="hands" value="<%=players.hands%>">
                <input type="text" name="height" value="<%=players.height%>">
                <input type="number" name="weight" value="<%=players.weight%>">
                <div class="checkbox">
                    Contract:
                    <input class="input-check" type="checkbox" name="contract"
                    <% if (players.contract) {%>
                        checked
                        <%}%>>
                </div>
                <input type="number" name="years" value="<%=players.years%>">
                <input type="text" name="salary" value="<%=players.salary%>">
                <input type="text" name="tags" value="<%=players.tags%>">
                <div class="checkbox">
                    Starter:
                    <input class="input-check" type="checkbox" name="starter"
                    <% if (players.starter) {%>
                        checked
                        <% } %>>
                    </div><br>
                    <input class="add-new-form-btn" type="submit" value="Update Player">
            </form>
        </div>
    </main>
</body>
</html>