<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <h1>⚾️ <a href="/fa">Free Agents</a></h1>
        <form action="/results/" method="POST">
            <input class="search" type="text" name="position" placeholder="Search by position">
        </form>
        <div class="dropdown">
            <div id="hamburger" class="dropBtn">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="myDropdown" class="dropdown-content">
                <a class="dropdown-links" href="/home">Home</a>
                <a class="dropdown-links" href="/roster">Roster</a>
                <a class="dropdown-links" href="/bench">Bench</a>
                <a class="dropdown-links" href="/gm/new">Add Player</a>
                <% if (currentUser) { %>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input class="log-out" type="submit" value="Log Out"/>
                      </form>
                <% } else { %>
                    <a class="dropdown-links" href="/users/new">Sign Up</a>
                    <a class="dropdown-links" href="/sessions/new">Log In</a>
                <% } %>
            </div>
        </div>
    </header>
    <main>
        <% if (currentUser) { %>
            <p class="logged-in">Logged in as <%= currentUser.username %></p>
        <% }%>
        <div class="players">
            <a href="/gm/new"><button class="new-btn">Add New Player</button></a>
            <table class="player-index-table">
                <tbody>
                    <tr class="table-head">
                        <th>Players</th>
                        <th></th>
                        <th>Pos.</th>
                        <th>B/T</th>
                        <th>Height</th>
                        <th>Weight</th>
                    </tr>
                    <%for (let i= 0; i < players.length; i++) {%>
                        <% if (players[i].contract === false) {%>
                    <tr>
                        <td class="player-thumb">
                            <img class="player-index-image" src="<%=players[i].img%>" alt="AI generated picture of a baseball player">
                        </td>
                        <td class="player-name">
                            <a class="player-link" href="/gm/<%=players[i].id%>">
                            <%=players[i].name%></a><span class="jersey">(<%=players[i].number%>)</span>

                        </td>
                        <td>
                            <%=players[i].position%>
                        </td>
                        <td>
                            <%=players[i].hands%>
                        </td>
                        <td>
                            <%=players[i].height%>
                        </td>
                        <td>
                            <%=players[i].weight%> lbs.
                        </td>
                    </tr>
                    <% } } %>
                </tbody>
            </table>
            <a href="/bench"><button class="new-btn">View Bench</button></a>
        </div>

        <div class="players-mobile">
            <a href="/gm/new"><button class="new-btn">Add New Player</button></a>
            <table class="player-index-table">
                <tbody>
                    <tr class="table-head">
                        <th>Players</th>
                        <th></th>
                        <th>Pos.</th>
                    </tr>
                    <%for (let i= 0; i < players.length; i++) {%>
                    <tr>
                        <% if (players[i].contract === false) {%>
                        <td class="player-thumb">
                            <img class="player-index-image" src="<%=players[i].img%>" alt="AI generated picture of a baseball player">
                        </td>
                        <td class="player-name">
                            <a class="player-link" href="/gm/<%=players[i].id%>">
                            <%=players[i].name%></a><span class="jersey">(<%=players[i].number%>)</span>

                        </td>
                        <td>
                            <%=players[i].position%>
                        </td>
                    </tr>
                    <% } } %>
                </tbody>
            </table>
            <a href="/roster"><button class="new-btn">View Starters</button></a>
        </div>
    </main>
    <script src="/app.js"></script>
</body>
</html>