<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <h1>⚾️ <a href="/">Roster</a></h1>
        <form action="/results/" method="POST">
            <input class="search" type="text" name="position" placeholder="Search by position">
        </form>
        <div class="dropdown">
            <div class="dropBtn" onclick="myFunction(this); openDropdown()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="myDropdown" class="dropdown-content">
                <a class="dropdown-links" href="/">Home</a>
                <a class="dropdown-links" href="/roster">Roster</a>
                <a class="dropdown-links" href="/fa">Free Agents</a>
                <a class="dropdown-links" href="/bench">Bench</a>
                <a class="dropdown-links" href="/gm/new">Add Player</a>
                <% if (currentUser) { %>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Log Out" class="btn-small red" />
                      </form>
                <% } else { %>
                    <a class="dropdown-links" href="/users/new">Sign Up</a>
                    <a class="dropdown-links" href="/sessions/new">Log In</a>
                <% } %>
            </div>
        </div>
    </header>
        <div class="baseball-diamond">
            <img class="baseball-diamond-image" src="/field.png" alt="baseball diamond">
        </div>
        <div class="roster">
                <%for (let i= 0; i < players.length; i++) {%>
                    <% if (players[i].position === '1B' && players[i].starter === true && players[i].contract === true) { %>
                        <a class="player-link" href="/gm/<%=players[i].id%>">
                            <img class="player-thumb-home" id="player-thumb-1B" src="<%=players[i].img%>" alt="player profile picture">
                        </a>
                <% } }%>
                <%for (let i= 0; i < players.length; i++) {%>
                    <% if (players[i].position === '2B' && players[i].starter === true && players[i].contract === true) { %>
                        <a class="player-link" href="/gm/<%=players[i].id%>">
                            <img class="player-thumb-home" id="player-thumb-2B" src="<%=players[i].img%>" alt="player profile picture">
                        </a>
                <% } }%>
                <%for (let i= 0; i < players.length; i++) {%>
                    <% if (players[i].position === 'SS' && players[i].starter === true && players[i].contract === true) { %>
                        <a class="player-link" href="/gm/<%=players[i].id%>">
                            <img class="player-thumb-home" id="player-thumb-SS" src="<%=players[i].img%>" alt="player profile picture">
                        </a>
                <% } }%>
                <%for (let i= 0; i < players.length; i++) {%>
                    <% if (players[i].position === '3B' && players[i].starter === true && players[i].contract === true) { %>
                        <a class="player-link" href="/gm/<%=players[i].id%>">
                            <img class="player-thumb-home" id="player-thumb-3B" src="<%=players[i].img%>" alt="player profile picture">
                        </a>
                <% } }%>
                <%for (let i= 0; i < players.length; i++) {%>
                    <% if (players[i].position === 'C' && players[i].starter === true && players[i].contract === true) { %>
                        <a class="player-link" href="/gm/<%=players[i].id%>">
                            <img class="player-thumb-home" id="player-thumb-C" src="<%=players[i].img%>" alt="player profile picture">
                        </a>
                <% } }%>
                <%for (let i= 0; i < players.length; i++) {%>
                    <% if (players[i].position === 'SP' && players[i].starter === true && players[i].contract === true) { %>
                        <a class="player-link" href="/gm/<%=players[i].id%>">
                            <img class="player-thumb-home" id="player-thumb-SP" src="<%=players[i].img%>" alt="player profile picture">
                        </a>
                <% } }%>
                <%for (let i= 0; i < players.length; i++) {%>
                    <% if (players[i].position === 'LF' && players[i].starter === true && players[i].contract === true) { %>
                        <a class="player-link" href="/gm/<%=players[i].id%>">
                            <img class="player-thumb-home" id="player-thumb-LF" src="<%=players[i].img%>" alt="player profile picture">
                        </a>
                <% } }%>
                <%for (let i= 0; i < players.length; i++) {%>
                    <% if (players[i].position === 'CF' && players[i].starter === true && players[i].contract === true) { %>
                        <a class="player-link" href="/gm/<%=players[i].id%>">
                            <img class="player-thumb-home" id="player-thumb-CF" src="<%=players[i].img%>" alt="player profile picture">
                        </a>
                <% } }%>
                <%for (let i= 0; i < players.length; i++) {%>
                    <% if (players[i].position === 'RF' && players[i].starter === true && players[i].contract === true) { %>
                        <a class="player-link" href="/gm/<%=players[i].id%>">
                            <img class="player-thumb-home" id="player-thumb-RF" src="<%=players[i].img%>" alt="player profile picture">
                        </a>
                <% } }%>
        </div>
        <!-- <div class="carousel">
            <h2>Highlights from the Season</h2>
            <div class="carousel-images">
                <img class="highlights" src="/walkoff.png" alt="baseball players celebrating a win" />
                <img class="highlights" src="/catch.png" alt="fielder making a diving catch in the infield"/>
                <img class="highlights" src="/single.png" alt="the bench celebrates a clutch base hit"/>
                <img class="highlights" src="/double.png" alt="batter swinging for the fences" />
                <img class="highlights" src="/slide.png" alt="the runner slides into home" />
                <img class="highlights" src="/homer.png" alt="the pitcher points up as the ball sails into the bleachers" />
            </div>
            <div class="buttons">
                <img class="carousel-button" id="left" src="left.png" alt="back arrow">
                <img class="carousel-button" id="right" src="right.png" alt="forward arrow">
            </div>
        </div> -->
    </main>
</body>
</html>