<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <h1>⚾️ <a href="/roster">Player Detail</a></h1>
        <form action="/results/" method="POST">
            <input class="search" type="text" name="position" placeholder="Search by position">
        </form>
        <div class="dropdown">
            <div id="hamburger" class="dropBtn">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="myDropdown" class="dropdown-content">
                <a class="dropdown-links" href="/">Home</a>
                <a class="dropdown-links" href="/roster">Roster</a>
                <a class="dropdown-links" href="/fa">Free Agents</a>
                <a class="dropdown-links" href="/bench">Bench</a>
                <a class="dropdown-links" href="/gm/new">Add Player</a>
                <% if (currentUser) { %>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input class="log-out" type="submit" value="Log Out"/>
                      </form>
                <% } else { %>
                    <a class="dropdown-links" href="/users/new">Sign Up</a>
                    <a class="dropdown-links" href="/sessions/new">Log In</a>
                <% } %>
            </div>
        </div>
    </header>
    <main>
        <% if (currentUser) { %>
            <p class="logged-in">Logged in as <%= currentUser.username %></p>
        <% }%>
        <p><%  currentUser %></p>
        <div class="show-heading">
            <h2><%=players.name%> #<%=players.number%></h2>
            <%if (players.contract === false) {%>
            <p>To sign this player, click Edit and assign a contract and salary.</p>
            <% } %>
        </div>
        <div class="info-flex-container">
            <div class="info-image-container">
                <img class="info-image" src="<%=players.img%>" alt="">
            </div>
            <div class="info-container">
                <p><span class="player-info-show">Position: </span><%=players.position%></p>
                <p><span class="player-info-show">Bats/Throws: </span><%=players.hands%></p>
                <p><span class="player-info-show">Height: </span><%=players.height%></p>
                <p><span class="player-info-show">Weight: </span><%=players.weight%> lbs</p>
                <p><span class="player-info-show">Contract Years Remaining: </span><%=players.years%></p>
                <p><span class="player-info-show">Season Salary: </span>$<%=players.salary%></p>
                <p><span class="player-info-show">Traits: </span><%=players.tags.join(', ')%></p>

                <a href="/gm/<%=players.id%>/edit">
                    <input class="submitBtn" type="submit" value="Edit">
                </a>
                <!-- This button removes a player from the roster - they will then show up as a Free Agent -->
                    <div class="show-page-buttons">
                        <%if (players.contract === true) {%>
                            <form action="/gm/<%=players.id%>?_method=PUT" method="POST">
                                <input class="release-player-info" type="number" name="years" value="0">
                                <input class="release-player-info" type="text" name="salary" value="0">
                                <input class="release-player-info" type="checkbox" name="contract"
                                    <% if (players.contract)%>>
                                <input class="submitBtn" type="submit" value="Release">
                            </form>
                        <% } %>
                        <!-- This button removes a player from the database -->
                        <form action="/gm/<%=players.id%>?_method=DELETE" method="POST">
                            <input class="submitBtn" type="submit" value="Retire">
                        </form>
                        <a href="/roster"><input class="submitBtn" type="submit" value="Return to Roster"></a>
                    </div>
            </div>
        </div>
    </main>
    <script src="/app.js"></script>
</body>
</html>