<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <h1>⚾️ Player Detail</h1>
        <div class="nav-dropdown" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </header>
    <main>
        <div class="show-heading">
            <h2><%=players.name%> #<%=players.number%></h2>
        </div>
        <div class="info-flex-container">
            <div class="info-image-container">
                <img class="info-image" src="<%=players.img%>" alt="">
            </div>
            <div class="info-container">
                <p><span class="player-info-show">Position: </span><%=players.position%></p>
                <p><span class="player-info-show">Bats/Throws: </span><%=players.hands%></p>
                <p><span class="player-info-show">Height: </span><%=players.height%></p>
                <p><span class="player-info-show">Weight: </span><%=players.weight%> lbs</p>
                <p><span class="player-info-show">Contract Years Remaining: </span><%=players.years%></p>
                <p><span class="player-info-show">Season Salary: </span>$<%=players.salary%></p>
                <p><span class="player-info-show">Traits: </span><%=players.tags%></p>
                <a href="/gm/<%=players.id%>/edit">
                    <button class="edit">Edit</button>
                </a><br>
                <button>Release</button>
                <form action="/gm/<%=players.id%>?_method=DELETE" method="POST">
                    <button>Retire</button>
                </form>
                <button>Return to Roster</button>
            </div>
        </div>
    </main>
</body>
</html>